@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

/* Set all defaults to zero */
* {
    margin: 0;
    padding: 0;
    border: 0; 
    /* box-sizing: border-box; */
}

body {
    font: 15px/1.5 Open Sans, Helvitica, sans-serif;
    background-color: #f4f4f4;
}

/* Global Style */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: bold;
}

h3, div span {
    margin-top: 10px;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: bold;
}

/* Header Style */
.header {
    background-color: #35424a;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    border-bottom: #e8491d 3px solid;
    text-transform: uppercase;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:#35424a;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    font-size: 16px;
    color: #fff;
  }

.header li a:hover {
    color: #ccc;
    font-weight: bold;
}

.header .logo {
    display: block;
    float: left;
    font-size: .55em;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}

.header .logo span {
    font-size: 1.5em;
}
  
header .logo .highlight, header .menu .current a {
    color: #e8491d;
    font-weight: bold;
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
}
  
/* menu icon */
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 35px 5px 10px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top:-5px;
}
 
/* Menu Button */
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/* Showcase Style */
.showcase {
    width: 100%;
    height: 53vw;
    padding-top: 120px;
    background: url(../images/hero-image.jpg) no-repeat center center/cover;
    /* background-size: cover; */
}

.showcase-btn {
    width: 200px;
    height: auto;
    border: 1px solid #fff;
    box-sizing: border-box;
    /* letter-spacing: 4px; */
    padding-bottom: 10px;
    background-color: rgba(232, 73, 29, 0.5);
    /* position: relative; */
}

.showcase-box h1 {
    font-size: 16px;
    /* margin-top: 150px;
    font-size: 45px;
    margin-top: 10px; */
}

.showcase-box p {
    font-size: 3vw;
}

/* Gallery Style */
.gallery img {
    width: 100%;
}

/* Contact Form */
.contact-btn {
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.contact-btn:hover {
    background: #fff;
    color: #e8491d;
}

/* Testimonials */
.test-review {
    border: 2px solid #ccc;
    background-color: #c8c8c8;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 10px;
}
  
.test-review::after {
    content: "";
    clear: both;
    display: table;
}
  
.test-review img {
    float: center;
    margin-right: 20px;
    border-radius: 50%;
}
  
.test-review span {
    font-size: 20px;
    margin-right: 20px;
}

/* About Style */
article.about {
    padding-top: 120px;
    float: left;
    width: 65%;
}

article.about p {
    line-height: 20px;
    margin: 10px;
}

/* Sidebar */
aside.sidebar {
    padding-top: 120px;
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside.sidebar h3 {
    text-align: center;
}

aside.sidebar .contact input, aside.sidebar .contact textarea {
    width: 90%;
    padding: 5px;
}

/* Newsletter Style */
.newsletter {
    padding: 35px;
    color: #fff;
    background: #35424a;
}
.newsletter h1 {
    float: left;
    margin: -17.5px;
}
.newsletter form {
    float: right;
    margin: -17.5px;
}
.newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}
.newsletter-btn {
  height: 38px;
  background: #e8491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}
.newsletter-btn:hover {
  background: #fff;
  color: #e8491d;
}

/* Services Style */
article.service {
    float: left;
    /* width: 65%; */
    padding-top: 120px;
}

article.service p {
    line-height: 20px;
    margin: 15px;
}

/* Footer Style */
footer {
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    padding: 10px;
    transition: transform .2s;
    margin: 0 auto;
} 
.social-networks i:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    color: #fff;
}

/* For medium screens sizes from 48em = 768px @ 16pt font wide and up */
@media screen and (min-width: 48em) {
.header .menu-icon {
    padding: 20px;
    position: relative;
    }

.showcase h1 {
    font-size: calc(20px+4vw);
    /* margin-top: 150px;
    font-size: 45px;
    margin-top: 10px; */
}
    
.showcase p {
    font-size: calc(20px+2vw);
}

.newsletter {
    height: 20vw;
    color: #fff;
    background: #35424A;
    text-align: left;
}

.newsletter h1 {
    float: left;
    margin: -17.5px;
}

.newsletter form {
    float: right;
    margin: -17.5px;
}

.newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
    margin: 10vw 0 2vw 0;
}

/* Testimonials */
.test-review {
    height: 250px;
}
  
.test-review-left {
    padding-top: 10px;
    width: 33%;
    float: left;
}

.test-review-center {
    padding-top: 10px;
    width: 33%;
    float: left;
}

.test-review-right {
    padding-top: 10px;
    width: 33%;
    float: left;
}

.gallery {
        column-count: 2;
    }
}

/* For screens sizes from 60em (950px) wide and up */
@media screen and (min-width: 60em) {
    .gallery {
        column-count: 3;
    }
}


/* Header Style 
header {
    background: #35424a;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #banner {
    float: left;
}

header #banner h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
} */

/* Newsletter Style 
#newsletter {
    padding: 15px;
    color: #fff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px; /* 15.625em / 17.36vw */
/*} */

/* Testimonial Style 
#test-review {
    border: 2px solid #ccc;
    background-color: #c8c8c8;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

#test-review img {
    float: left;
    margin-right: 20px;
    border-radius: 50px;
}

#test-review span {
    font-size: 20px;
    margin-right: 15px;
} */


/* Footer Style 
footer {
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}

footer p {
    padding: 10px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: #3a3a3a;
    padding: 20px;
    transition: transform .2s;
    margin: 0 auto;
} */

/* .social-networks i:hover { */
    /* -ms-transform: scale(1.5);  IE 9 */
    /* -webkit-transform: scale(1.5); /* Safari 3 - 8 */
    /* transform: scale(1.5);
} */

/* Media queries */
/* For large to medium screens sizes from 1200px wide and down 
@media screen and (max-width: 1200px){
    {

    }
    
    {

    }
    
    {
    
    }
}
*/
