@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

/* Set all defaults to zero */
* {
    margin: 0;
    padding: 0;
    border: 0; 
    /* box-sizing: border-box; */
}

body  {
    font: 15px/1.5 Open Sans, Helvitica, sans-serif;
    background-color: #f4f4f4;
}

/* Global Style */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.button_1:hover {
    background: #fff;
    color: #e8491d;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: bold;
}

h3, div span {
    margin-top: 10px;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: bold;
}

/* Header Style */
header {
    background: #35424a;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #banner {
    float: left;
}

header #banner h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
}

/* Hero Style */
#hero {
    min-height: 400px;
    background: url(../images/hero-image.jpg) no-repeat 0 -400px;
    text-align: center;
}

#hero h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-top: 10px;
}

#hero p {
    font-size: 20px;
}

/* Newsletter Style */
#newsletter {
    padding: 15px;
    color: #fff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Testimonial Style */
#test-review {
    border: 2px solid #ccc;
    background-color: #c8c8c8;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

#test-review img {
    float: left;
    margin-right: 20px;
    border-radius: 50px;
}

#test-review span {
    font-size: 20px;
    margin-right: 15px;
}

/*About Style */

article#about {
    float: left;
    width: 65%;
}

article#about p {
    line-height: 20px;
    margin: 10px;
}

/* Sidebar */
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar h3 {
    text-align: center;
}

aside#sidebar .contact input, aside#sidebar .contact textarea {
    width: 90%;
    padding: 5px;
}

/* Services Style */

article#service {
    float: left;
    width: 65%;
}

article#service p {
    line-height: 20px;
    margin: 15px;
}

/* Gallery Style */
#gallery img {
    width: 500px;
    height: 450px;
}

/* Footer Style */
footer {
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}

footer p {
    padding: 10px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: #3a3a3a;
    padding: 20px;
    transition: transform .2s;
    margin: 0 auto;
}

.social-networks i:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3 - 8 */
    transform: scale(1.5);
}

