@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap");
/* Set all defaults to zero */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

h2 {
  text-align: center;
  font-family: Poppins, Helvitica, sans-serif;
  font-weight: bold;
}

body {
  font: 12px/1.5 Open Sans, Helvitica, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Header */
.header {
  background-color: #35424a;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  border-bottom: #e8491d 3px solid;
  text-transform: uppercase;
  text-align: center;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #35424a;
}

.header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
}

.header li a:hover {
  color: #ccc;
  font-weight: bold;
}

.header .logo {
  display: block;
  float: left;
  font-size: 0.55em;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}

.header .logo span {
  font-size: 1.75em;
}

header .logo .highlight,
header .menu .current a {
  color: #e8491d;
  font-weight: bold;
}

/* Menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* Menu Icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 35px 5px 10px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon::before {
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  top: -5px;
}

/* Menu Button */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 70vw;
  background: url(../images/showcase-img.webp) no-repeat center center/cover;
}

.showcase p {
  text-align: center;
  font-family: Poppins, Helvitica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.showcase a {
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
}

.showcase-btn {
  width: 120px;
  height: 10px;
  border: 1px solid #e8491d;
  text-align: center;
  padding-bottom: 10px;
  background-color: rgba(53, 66, 74, 0.5);
}

.showcase h2 {
  font-size: 1.5em;
}

/* Testimonials */
.testimonials {
  border-radius: 5px;
  padding: 16px;
  margin: 16px 10px;
  border: 2px solid #e8491d;
  background-color: #c8c8c8;
  float: none;
  width: auto;
}

.testimonials::after {
  /*clear float */
  content: "";
  display: table;
  clear: both;
}

.client {
  text-align: center;
}

.testimonials img {
  margin: 0;
  border-radius: 50%;
  width: 90px;
}

.testimonials p {
  font-size: 1.5em;
}

.testimonials span {
  font-size: 30px;
  margin-right: 20px;
}

/* Newsletter */
.newsletter {
  padding: 25px;
  color: #fff;
  background: #35424a;
}

.newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 230px;
}

.newsletter-btn {
  height: 38px;
  background: #e8491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  color: #fff;
}

.newsletter-btn:hover {
  background: #fff;
  color: #e8491d;
}

.form-nl {
  text-align: center;
}

/* About Page */
div.about {
  padding-top: 20px;
  float: left;
  text-align: justify;
  display: block;
}

.form {
  text-align: center;
  line-height: 220%;
}

.form-dark {
  padding: 15px;
  background: #35424a;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-btn {
  height: 38px;
  background: #e8491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.contact-btn:hover {
  background: #fff;
  color: #e8491d;
}

aside.sidebar {
  float: left;
  width: 100%;
}

aside.sidebar h3 {
  text-align: center;
}

aside.sidebar .contact input,
aside.sidebar .contact textarea {
  width: 90%;
  padding: 5px;
}

/* Gallery Page */
.gallery img {
  width: 100%;
}

.services {
  border-radius: 5px;
  padding: 16px;
  margin: 16px 10px;
  border: 2px solid #e8491d;
  background-color: #c8c8c8;
  padding: 10px;
  float: none;
  width: auto;
}

.services span {
  font-size: 30px;
  margin-right: 20px;
}

.services::after {
  /*clear float */
  content: "";
  display: table;
  clear: both;
}

/* Footer with links to Social Networks */
footer {
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  background-color: #e8491d;
  text-align: center;
}

.social {
  text-align: center;
}

.social a {
  text-decoration: none;
}

.social li {
  display: inline;
}

.social i {
  font-size: 180%;
  padding: 5%;
  color: #3a3a3a;
  padding: 10px;
  transition: transform 0.2%;
  margin: 0 auto;
}

.social i:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3 - 8 */
  transform: scale(1.5);
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* breakpoint */
  .header {
    height: 60px;
  }

  .header li {
    float: left;
  }

  .header li a {
    padding: 21px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .showcase-btn {
    width: 190px;
    height: 30px;
    font-size: 1.5em;
  }

  .showcase h2 {
    font-size: 3em;
  }

  .showcase p {
    font-size: 2em;
  }

  .testimonials {
    float: left;
    display: inline;
    width: 30%;
    height: 70vh;
    box-sizing: border-box;
    border: 2px solid #e8491d;
    background-color: #c8c8c8;
    margin: 1.3vw;
  }

  #testimonial-left {
    margin-left: 2.2vw;
  }

  .testimonials img {
    width: calc(90px + 3vw);
  }

  .testimonials p {
    font-size: 1.8vw;
  }

  .testimonials span {
    font-size: 2.8vw;
  }

  div.about {
    padding-bottom: 150px;
  }

  div.about h2 {
    font-size: 2em;
  }

  div.about p {
    font-size: 1.5em;
  }

  .gallery {
    column-count: 2;
  }

  .services {
    float: left;
    display: inline;
    width: 30%;
    height: 80vh;
    box-sizing: border-box;
    border: 2px solid #e8491d;
    background-color: #c8c8c8;
    margin: 1.6%;
  }

  .services p {
    font-size: 1.3vw;
  }
}

@media screen and (min-width: 840px) {
  /* breakpoint */
  .services {
    height: 430px;
  }
}

@media screen and (min-width: 900px) {
  /* breakpoint */
  h2 {
    font-size: 3em;
  }

  .gallery {
    column-count: 3;
  }

  .testimonials {
    height: 80vh;
  }

  .services {
    height: 650px;
  }
}
